/* Ini Css   */


nav {
    display: flex;
    justify-content: space-between; 
    background-color:rgba(206, 220, 221, 0.695);
}

nav>section{
    display: flex;
    align-items: center;
}
.logo-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-item {
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
}

.banner-container    {
    height: 258px;
    border: 1px solid black;
}


.facility-list {
    display: flex;  
    justify-content: space-around;
    background-image: url();
}

.form-result {
    height: 100px;
    border: 1px solid black;
}

.message-us-section {
    display: flex;
}

.result-container {
    margin-left: 15%;
    width: 50%;
    height: 50%;
}

.section-container {
    background-image: url("../assets/background.jpg");
}
