/* Ini Css   */


nav {
    display: flex;
    justify-content: space-between; 
    background-color:rgba(206, 220, 221, 0.695);
}

nav>section{
    display: flex;
    align-items: center;
}
.logo-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('../assets/revou.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.nav-item {
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    color: black;
    text-decoration:solid;
}

.banner-container    {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: url('../assets/warnet1.jpg');
    height: 500px;
    border: 1px solid black;
}


.facility-list {
    display: flex;  
    justify-content: space-around;
    background-image: url();
}

.form-result {
    height: 100px;
    
    border: 2px solid black;
}

.message-us-section {
    display: flex;
}

.result-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
}

.table th:first-child,
.table td:first-child {
    border-left: none;
}

.table th:last-child,
.table td:last-child {
    border-right: none;
}


.table tbody tr:hover {
    background-color: #f5f5f5;
}


@media screen and (max-width: 600px) {
    .table th,
    .table td {
        padding: 8px 12px;
    }
}

.section-container {
    background-image: url("../assets/background.jpg");
}


nav {
    background-color: #85D6B7;
    overflow: hidden;

}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.4s ; 
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active{
    background-color: #ddd;
    color: black;
}

section {
    padding: 20px;
    flex: 1;
    padding: 20px;
}

aside {
    width: 30px;
    background: linear-gradient(to bottom, #c7d2d4, #fff); 
    color: #000000;
    padding: 10px;
    position: fixed; 
    height: 100%;
    right: 0;
    box-sizing: border-box; 
    transition: width 0.5s; 
}

aside:hover {
width: 80px; 
}

h2 {
margin-top: 0; 
}

ul {
list-style: none;
padding: 0;
margin: 0;
}

ul li a {
color: #000000;
text-decoration: none;
padding: 10px;
display: block;
margin-right: 3px;
}

ul li a:hover {
background-color: #555;
}

div.content {
    margin-left: 20px; 
}

footer {
    background-color: #ffffff;
    color: #070707;
    text-align: center;
    padding: 1px;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 1;
}
aside a {
    overflow: hidden;
    display: block;
    transition: transform 0.4s;
    transition: margin 0.8s; 
}

aside a img {
    width: 50%;
    max-width:70%;
    height:fit-content;
    border-radius: 50px;
    margin-bottom: 0;
    box-sizing: border-box;
    transform: scale(1); 
    transition: transform 0.4s; 
}

aside a:hover img {
    transform: scale(1.6); 
}

aside:not(:hover) a {
    transform: scale(4);
    width: 100%;
    max-width: 100%;
}
